# Backend dependencies
# Ignores the node_modules for your Express server
/node_modules

# Backend Environment Variables
# Ignores the .env file for your server's database keys and secrets
.env

# Temporary files
# Ignores temporary folders, like one for file uploads
/server/temp/

# Logs
logs
*.log

# IDE / OS Files
.DS_Store
.vscode/